
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Oswald:wght@200..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;

}

* {
        margin: 0;
        padding: 0;
    }


    .contact-info {
        width:  100%;
        height: 3%;
        z-index: 999999;
        background-color: white; /* Couleur de fond blanche */
        padding: 10px 0; /* Espacement intérieur en haut et en bas */
        text-align: center; /* Centrer le texte */
        font-family: 'Playfair Display', serif; /* Utilisation de la même police que le reste */
        color: #0d5a34; /* Même couleur verte que le menu pour un aspect cohérent */
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Légère ombre pour séparer visuellement */
        position: fixed;
    }
    
    .contact-info p {
        margin: 0;
        font-size: 16px;
    }
    
    .menu {
        display: none; /* Cacher le menu par défaut */
        position: fixed;
        top: 38px; /* On abaisse le menu de 50px */
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #0d5a34;
        
    }
    
    .container, .menu, .menu-container, .diapo, .wrapper, .Presentationtext {
        max-width: 100%;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    

.menu.show-menu {
    display: block; /* Afficher le menu lorsque la classe 'show-menu' est ajoutée */
}

.menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: #0d5a34;
    
}

.logo {
    display: flex;
    width: 60px;
}

.logo img {
    width: 100%;
}

.logo img:hover {
    color: green;
}

.site-name {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-left: 0px;
    color: white;
}

.site-name:hover {
    color: green;
}

.Consiergerie {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.menu-listing {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu-listing li:nth-child(3) a {   
        
    color: green;
    
    }
.menu-listing a {
    font-family: "playfair Display", sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
}

.menu-listing a:hover {
    color: green;
}

.mobile-menu {
    width: 100%;
    position: sticky;
    top: 0;
    height: 80px;
    background: #0d5a34;
    z-index: 9999;
    padding-inline: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.material-symbols-outlined{
    margin-top: 45px;
}

.parallax {
    /* Utilisation de l'image pour le fond */
    background-image: url('1478274609975.jpg'); /* Assurez-vous que le chemin du fichier image est correct */

    /* Taille et positionnement de l'image */
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%); /* Ajuste la luminosité de l'image */
}

.contact-form {
    background: white;
    padding: 50px;
    max-width: 600px;
    margin: -100px auto 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10; /* Assure que le formulaire est au-dessus de l'image */
}

.contact-form h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.contact-form p {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #0d5a34;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #333;
}
.containerbottom {
    display: flex;
    justify-content: center; /* This will center the buttons horizontally */
    align-items: center; /* This will center the buttons vertically */
    height: 50%; /* Make sure this is set if you want vertical centering */
    background-color: #0d5a34;
}


.containerbottom .button {
    display: inline-block;
    margin: 0 5px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: width 0.1s ease; /* Animation de transition pour l'élargissement */
    overflow: hidden; /* Masque tout ce qui dépasse les dimensions du bouton */
}

.containerbottom .button:hover {
    width: 200px; /* Largeur augmentée au survol */
}

.containerbottom .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    transition: color 0.1s ease; /* Transition douce pour la couleur */
}

.containerbottom .button .icon i {
    font-size: 25px;
    line-height: 60px;
}

.containerbottom .button span {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    opacity: 0; /* Cache le texte au départ */
    transition: opacity 0.1s ease 0.1; /* Transition pour l'affichage du texte après l'agrandissement */
    white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
}

.containerbottom .button:hover span {
    opacity: 1; /* Affiche le texte au survol */
}

.mentioncontainer{
    margin-top: 250px;
    margin-left: -160px;

}

.buttonmention{
    color: black;
}



@keyframes fly-in-out {
    0% {
        transform: scale(0) translate3d(0, -1000px, 0);
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }
    15%,
    85% {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        transform: scale(1) translate3d(0, 0, 0);
        background: transparent;
        box-shadow: none;
    }
    100% {
        color: rgba(255, 255, 255, 1); /* Maintenir la couleur à la fin */
        transform: scale(1) translate3d(0, 0, 0);
        background: transparent;
        box-shadow: none;
    }
}


@media (max-width: 500px) {

    .Presentationtext {
        left: 0;
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }

    /* Éléments centraux sans déborder */
    .menu-container, .menu-listing, .wrapper {
        width: 100%;
    }

    /* Ajustez également la taille de l'image dans les conteneurs */
    .concierge-image {
        width: 100%;
    }
  
   
   
    menu {
      
        display: none; /* Toujours cacher le menu par défaut, même en petit écran */
    }

    .menu.show-menu {
        display: block; /* Afficher le menu si show-menu est actif */
    }

    .menu-container {
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-listing {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .menu-listing li {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .menu-listing a {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .logo {
        width: 80px;
        margin-bottom: 20px;
    }

    .mobile-menu {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 9999;
        padding-inline: 20px;
        background: #0d5a34;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .menu-listing li:nth-child(3) a {   
        
        color: green;
        
        }

 
}


@media (max-width: 810px) {
    .menu {
        display: none; /* Cacher le menu complet en-dessous de 810px */
    }

    .menu.show-menu {
        display: block; /* Afficher le menu complet lorsqu'on ajoute la classe 'show-menu' */
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-listing {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .menu-listing li {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .menu-listing a {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .logo {
        width: 80px;
        margin-bottom: 20px;
    }
}

@media (min-width: 811px) {
    .mobile-menu {
        display: none; /* Cacher le menu mobile */
    }

    .menu {
        display: block; /* Afficher le menu complet */
    }
}

@media (max-width: 430px) {

.contact-info p {
    margin-left: 15px;
    font-size: 15px;
}

}

@keyframes reveal {
   from {
    transform: scale(0);
    opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1450px) {
    .Secondary-image {
        left: 70px;
    }


}
